@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
.header{
    background-color: hsl(210, 13%, 50%,0.3);
    backdrop-filter: blur(05%);
    border-radius: 5px;
}
.header-head-title{
    font-family: 'Fjalla One', sans-serif;
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
}